.infoCard {
  padding-right: 2.5rem;
}

.infoCard:last-child {
  height: 400px;
  padding-right: 0;
}

.infoCard > a >  img {
  width: 250px;
  padding: 0;
  margin: 0;
  border-radius: .5rem;
  opacity: .85;
}
